<% if flash[:message_success] %>
<div class="panel panel-success notice"  >
	<div class="panel-body text-success">
		<%= flash[:message_success] %>
	</div>
</div>
<% end %>
<% if flash[:message_error] %>
<div class="panel panel-danger notice"  >
	<div class="panel-body text-danger">
		<%= flash[:message_error] %>
	</div>
</div>
<% end %>
<div class="panel panel-success hide notice notice-success"  >
	<div class="panel-body text-success">
		
	</div>
</div>
<div class="panel panel-danger hide notice notice-error" >
	<div class="panel-body text-danger">
		
	</div>
</div>